name: development

on:
  push:
    branches: [ master, next ]
  pull_request:
    branches: [ master, next ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x, 12.x]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        
      - name: Setup Node Environment
        uses: actions/setup-node@v1.4.2
        with:
          node-version: ${{ matrix.node-version }}
      
      - name: Install Dependencies  
        run: npm ci
        
      - name: Build
        run: npm run build
        
      - name: Test
        run: npm run test
        
      - name: Report Coverage
        uses: coverallsapp/github-action@v1.1.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}  
          
  deploy:
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        
      - name: Install Dependencies  
        run: npm ci
        
      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        with:
          semantic_version: 17
          dry_run: true
          extra_plugins: |
            @semantic-release/changelog@5
            @semantic-release/git@9         
      
    
