# This is a basic workflow to help you get started with Actions

name: docs

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Setup Node Environment
        uses: actions/setup-node@v1.4.2
        with:
          node-version: 12
      - name: Install Dependencies  
        run: npm ci
      - name: Build
        run: npm run build
      - name: Deploy to Github Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
